<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %} магазин {% endblock %}</title>
    {% block styles %}

    {% endblock %}
</head>
<body>
{% comment %}<ul>
    {% for item in nav_items %}
    <li> <a href="{% url 'catalog:one_cat' item.slug %}">{{item.name}} </a></li>
    </li>
    {% endfor %}
</ul>{% endcomment %}
<a href="{% url 'catalog:Men' %}">Мужское</a>
<a href="{% url 'catalog:Women' %}">Женское</a>
<a href="{% url 'catalog:Kids' %}">Детское</a>
<a href="{% url 'catalog:Accessory' %}">Аксессуары </a>


{#<a href="{% url 'new:new' %}">Новости</a>#}
{% if request.user.is_authenticated %}
    <span>{{ request.user.username }}</span>
    {% if user.avatar %}

    <img src="{{ user.avatar.url }}" height="25" width="25">
        {% endif %}
    <a href="{% url 'authentication:logout' %}">Выйти</a>

{% else %}

  <a href="{% url 'authentication:login' %}">Войти</a>


{% endif %}

<a href="{% url 'cart:cart' %}  ">Корзина({{ total_quantity }})</a>


<a href="{% url 'authentication:account' %}">MyAcc</a>

<a href="{% url 'catalog:home' %}">Home</a>

<br/><br>

<br/><br>








<a href="{% url 'contact_form:contact' %}">У вас есть вопрос?</a>
{#{% load staticfiles %}#}
<a href="https://vk.com/share.php?url=https://evileg.com/ru/{{ article.get_absolute_url }}"
   target="_blank" rel="nofollow">
{#    <img src="{% static 'images/social/vk.png' %}">#}
</a>
<a href="https://twitter.com/share?url=https://evileg.com/ru/{{ article.get_absolute_url }}"
   target="_blank" rel="nofollow">
{#    <img src="{% static 'images/social/twitter.png' %}">#}
</a>
<a href="https://www.facebook.com/sharer/sharer.php?u=https://evileg.com/ru/{{ article.get_absolute_url }}"
   target="_blank" rel="nofollow">
{#    <img src="{% static 'images/social/facebook.png' %}">#}
</a>
<a href="https://plus.google.com/share?url=https://evileg.com/ru/{{ article.get_absolute_url }}"
   target="_blank" rel="nofollow">
{#    <img src="{% static 'images/social/google-plus.png' %}">#}
</a>
<a href="https://www.linkedin.com/shareArticle?mini=true&url=https://evileg.com/ru/{{ article.get_absolute_url }}"
   target="_blank" rel="nofollow">
{#    <img src="{% static 'images/social/linkedin.png' %}">#}
</a>


   {% block content %}
    {% endblock %}
{% block scripts %}
{% endblock %}


</body>
</html>