
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registration</title>
    <style>
     input {
         display: block;
     }

    </style>

</head>
<body>
<form>
  <label for="email">email:</label>
 <input type="email">
  <label for="password">password:</label>
  <input type="password">
  <label for="password2">password2:</label>
<input type="password2">
     <label for="date">выберите дату рождения:</label>
 <input type="date">
  <label for="file">выберите аву:</label>
 <input type="file">


    <img src="some_img.jpg">


  <label for="text">Расскажите о себе:</label>
    <input type="text">
    <input type="submit">
    </form>
</body>
</html>