{% extends 'authentication/auth_base.html' %}

{%  load widget_tweaks %}
{% block title %} Login {% endblock %}
{% block content %}
      <form
              method="post"
              action="{% url 'authentication:login' %}{% if next %}?next={{ next }}{% endif %}"

      >
          {% csrf_token %}

      {%  for field in form %}
          <div class="form-row">
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {{field }}
          {% if errors%}
              {% for error in errors %}
                  <p class="error-message">{{ error }}</p>
              {% endfor %}
          {% endif %}
          </div>
      {% endfor %}

      {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
               <p class="error-message">{{ error }}</p>
          {% endfor %}
      {% endif %}
{% comment %}
       {{ form.as_p }}
{% endcomment %}
          <button type="submit">Войти</button>

      <p>Если у вас еще нет аккаунта,зарегистрируйтесь</p>
      <a href="{% url 'authentication:reg' %}">Зарегистрироваться</a>
      </form>

{% endblock %}